Package: com.yourcompany.developerpalettefix
Name: DeveloperPaletteFix
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: macOS
Author: macOS
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
